@charset "iso-8859-1";
/* CSS Document */

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; vertical-align:baseline;}

html, body {height:100%;}
body {line-height:1; font-family: "Open Sans","Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#555555; background:#EEEEEE;}
input, select {font-family: "Open Sans","Trebuchet MS", Arial, Helvetica, sans-serif;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse; border-spacing:0;}
table, td, th {vertical-align:middle;}

/* GENERALES */
.wrap {position:relative;}
.clear {clear:both; height:0px;}
.clearl {clear:left; height:0px;}
.clearr {clear:right; height:0px;}
.left {float:left;}
.right {float:right;}
a img {border:none;}
h1, h2, h3, h4, h5, h6 {margin-bottom:1em; line-height:1.3;}
p {margin:0 0 0.8em; line-height:1.4;font-family: sans-serif}

.fs10 {font-size:10px;
}
.fs11 {font-size:11px;}
.fs12 {font-size:12px;}
.fs13 {font-size:13px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs17 {font-size:17px;}
.fs18 {font-size:18px;}
.fs19 {font-size:19px;}
.fs20 {font-size:20px;}
.fs21 {font-size:21px;}
.fs22 {font-size:22px;}
.fs23 {font-size:23px;}
.fs24 {font-size:24px;}

a:link, a:active, a:visited {color:#0066CC; text-decoration:none;}
a:hover, a:focus {color:#0099FF;}


body {background:#333333 url('../img/login/pattern.png') left top repeat;}

.text_firma_container {
    position:absolute;
    color: #ffffff;
    font-size: 13px;
}

.wrap {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	height:100%;
    }
#access_box {
	position:absolute;
	top:50%;
	margin-top:22px;
    left:-10%;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background-color:  rgba(255, 255, 255, .3);
    border: 10px solid rgba(255, 255, 255, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }
.access_box_interior {
    position:relative;
    background-color: #ffffff;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    padding:25px 25px 20px 25px;
    width:282px;
    min-height:330px;
    display:block;
	}
.access_box_interior p {
    line-height:1.5;
    }

div.logo {
    text-align: center;
	/*margin:0 auto 15px auto;*/
    line-height: 45px;
}

.logo a{
    display: inline-block;
	background:url('../img/login/img_ing_sprite.png') no-repeat;
	background-position:-68px 0px;
	margin:0 auto;
}

.logo a.dattatec {
    width:115px;
    height:42px;
    display: inline-block;
	background-position:-68px 0px;
}

.logo a.donweb {
    width:93px;
    height:51px;
    display: inline-block;
	background-position:-102px -210px;
}


.access_box_interior h2 {
	font-weight:300;
	font-size:18px;
	color:#757584;
	text-align:center;
    margin-bottom:15px;
	}
input[name="email"],
input[data-name="consulta"],
.inputReg,
input[name="email2"],
input[name="password"],
input[name="forget"],
input[data-name="user"],
input[data-name="pass"] {
    background:#f2f2f2 url('../img/login/img_ing_sprite.png') right no-repeat;
	border:1px solid #ccc;
	height:36px;
	padding-left:10px;
	width:232px;
    font-size:12px;
}

#txtConsultaNro {
    border-radius: 4px 4px 4px 4px;
}

.inputReg {
    background-image: none;
}

input[name="email"] {
	border-bottom:none;
	}
input[name="forget"] {
	background-position:200px 0px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	font-size:10px;
}
input[name="forget"] {
	background-position: 200px 0px;
	}
.olvido_elements :-ms-input-placeholder,
.olvido_elements :-webkit-input-placeholder,
.olvido_elements ::-moz-input-placeholder {
    color:#f3c5ba;
}
input[name="email"],
input[data-name="user"],
input[data-name="consulta"] {
	background-position:200px 0px;
	border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
	}
input[name="email2"],
input[name="email"] {
	background-position:200px -165px;
	}
input[name="email2"]:focus,
input[name="email"]:focus {
	background-position:200px -209px;
	}
input[name="forget"]:focus,
input[data-name="user"]:focus {
    background-position: 200px -43px;
}
input[name="password"],
input[data-name="pass"] {
	background-position:200px -83px;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-top:none;
	}
input[name="password"]:focus,
input[data-name="pass"]:focus {
    background-position: 200px -128px;
    }

a.bt_crear,
a.bt_forget,
a.bt_ingresar,
a.bt_crear_result {
	color: white;
	background: #4d8efc;
	border: none;
	background: -moz-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4D8EFB), color-stop(99%, #4079D6));
	background: -webkit-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
	background: -o-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
	background: -ms-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
	background: linear-gradient(to bottom, #4D8EFB 0%, #4079D6 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D8EFB', endColorstr='#4079D6', GradientType=0 );
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    width:100%;
	margin-top:10px;
	text-align:center;
	display:block;
	padding:10px 0;
	}

a.bt_consulta{
	color: white;
	background: #44CC53;
	border: none;
	background: -moz-linear-gradient(top, #44CC53 0%, #42C54F 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #44CC53), color-stop(99%, #42C54F));
	background: -webkit-linear-gradient(top, #44CC53 0%, #42C54F 99%);
	background: -o-linear-gradient(top, #44CC53 0%, #42C54F 99%);
	background: -ms-linear-gradient(top, #44CC53 0%, #42C54F 99%);
	background: linear-gradient(to bottom, #44CC53 0%, #42C54F 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44CC53', endColorstr='#42C54F', GradientType=0 );
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    width:100%;
	margin-top:10px;
	text-align:center;
	display:block;
	padding:10px 0;
}
a.bt_grey{
	color: #fff;
	background: #989898;
	border: none;
	background: -moz-linear-gradient(top, #989898 0%, #989898 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #989898), color-stop(99%, #989898));
	background: -webkit-linear-gradient(top, #989898 0%, #989898 99%);
	background: -o-linear-gradient(top, #989898 0%, #989898 99%);
	background: -ms-linear-gradient(top, #989898 0%, #989898 99%);
	background: linear-gradient(to bottom, #989898 0%, #989898 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#989898', GradientType=0 );
	cursor: pointer;
	font-size: 14px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    width:100%;
	margin-top:10px;
	text-align:center;
	display:block;
	padding:10px 0;
}


a.content_volver {
	background:#fff url('../img/login/img_ing_sprite.png') no-repeat;
	background-position:-30px -128px;
	position:absolute;
	top:-20px;
	right:-20px;
	display:block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 44px;
	height: 44px;
    -moz-box-shadow: -2px 2px 3px #ccc;
    -webkit-box-shadow: -2px 2px 3px #ccc;
    box-shadow: -2px 2px 3px #ccc;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}

	
a.bt_ingresar:hover,
a.bt_forget:hover,
a.bt_crear:hover,
a.bt_crear_result:hover {
	opacity:0.9;
	}
.oAuth_box {
    margin:10px 0 10px 0;
    font-weight:500;
    font-size:12px;
    color:#989898;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    /*height:32px;*/
    display:block;
    
    /*
    padding:0 0 0 20px;
    background:#eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #e1e1e1 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(99%, #e1e1e1));
    background: -webkit-linear-gradient(top, #4eeeeee 0%, #e1e1e1 99%);
    background: -o-linear-gradient(top, #eeeeee 0%, #e1e1e1 99%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #e1e1e1 99%);
    background: linear-gradient(to bottom, #eeeeee 0%, #e1e1e1 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e1e1e1', GradientType=0 );*/
    text-align: center;
    overflow:hidden;
    }
.acceder {
    line-height:32px;
	}
a.redes {
	background:transparent url('../img/login/img_ing_sprite.png') right no-repeat;
    float:right;
    display: inline-block;
	height:32px;
    width:39px;
    border-left:1px solid #DDDDDD;
    vertical-align: middle;
    text-align: center;
    line-height:32px;
	}
a.redes.log_live {
	background-position:-25px -4px;
	}
a.redes.log_gp {
	background-position:-25px -89px;
	}
a.redes.log_fb {
	background-position:-25px -48px;
	}
a.redes:hover {
	background-color:#f3f3f3;
	}
a.redes span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    }
a.redes img {
    vertical-align: middle;
    }
a.new_lk, a.forget_lk {
	color:#698abc;
    color:#0066CC;
	float:left;
	font-size:11px;
    width: 100%;/*42*/
    line-height: 1.3;
    display:block;
    padding:5px 0 5px 0;
	}
a.new_lk {
	/*padding-left:15px;*/
	text-align:center;
	}

label.NewUser_news {
    font-size: 11px;
    line-height: 1.4;
}

a.forget_lk {
	text-align:center;
	/*padding-right:15px;
	border-right:1px solid #ccc;*/
	}
a.new_lk:hover, a.forget_lk:hover {
    color:#0099FF;
    }
.login_spinner, .olvido_spinner, .new_spinner {
    text-align:center;
    }

.login_spinner img, .olvido_spinner img, .new_spinner img {
    margin-top:60px;
}
.new_result p, .olvido_result p {
    text-align: center;
    }

a.olvido_volver {
    font-size: 13px;
    text-decoration: underline;
}

p.terms {
	text-align:center;
	font-size:11px;
	line-height:1.4em;
    margin:20px 0 0 0;
	}
.flag-error {
    z-index:101;
    position: absolute;
    display: inline-block;
	background:transparent url('../img/login/arrow_flag_error.png') left center no-repeat;
    padding: 0 0 0 5px;
	}
.flag-error div {
    background-color: #df6245;
    padding:6px 13px;
    color:#ffffff;
    font-size:12px;
    white-space: nowrap;
    line-height:1.5;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    /*
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.5);
    */
}
input.error {
    border-color:#df6245;
    background-color: #fff2f2;
    }
.share-box {
	width:110px;
	position:absolute;
	right:25px;
	top:25px;
	display:block;
	}
.share-box ul {
	display:none;
	top:50px;
	left:13px;
	width:30px;
	position:absolute;
	padding:0;
	}

.linkShare {
	margin-right:10px;
	float:right;
	width:41px;
	height:41px;
	text-indent:-9999px;
	}

.linkShare a {
	background:transparent url('../img/login/img_ing_sprite.png') right no-repeat;
	width:41px;
	height:41px;
	opacity:1;
	display:block;
	background-position:-87px -47px;
	}

.linkShare a:hover {
	background-position:-129px -94px;
	}

.linkDownload  {
	float:right;
	text-indent:-9999px;
	width:41px;
	height:41px;
	}

.linkDownload a {
	background:transparent url('../img/login/img_ing_sprite.png') right no-repeat;
	background-position:-129px -47px;
	display:block;
	width:41px;
	height:41px;
	float:right;
	}

.linkDownload a:hover {
	background-position:-129px -135px;
	}

.share-box ul li {
	float:right;
	}
.share-box ul li a {
	margin-bottom:9px;
	width:28px;
	height:28px;
	background:transparent url('../img/login/img_ing_sprite.png') right no-repeat;
	opacity:1;
	}

.share-box ul li a:hover {
	opacity:0.8;
	}

.share-box ul li a.shaFace {
	background-position:-100px -88px;
	}
.share-box ul li a.shaGoo {
	background-position:-100px -117px;
	}
.share-box ul li a.shaTwi {
	background-position:-100px -147px;
	}
.share-box ul li a.shaPint {
	background-position:-100px -176px;
	}



@media screen and (max-width:800px){
    div.text_img_container {
        display: none;
    }

    div.wrap {
        background: transparent;
        background-image: none!important;
    }

    div.share-box {
        display: none;
    }

    #access_box {
        left: 50%;
        margin-left: -152px;
        margin-top:-232px;
        top: 0;
        margin-top: 0;
    }
}

@media screen and (max-width:400px){

    /*body{
        background: #ffffff;
    }*/

    #access_box {
        /*border: none;*/
        left: 50%;
        margin-top:-212px;
        top: 0;
        margin-top: 0;
    }

    a.content_volver {
        top: 20px;
        right: 10px;
    }

    input[name="email"], input[name="email2"], input[name="password"], input[data-name="user"], input[data-name="pass"], input[data-name="txtConsultaNro"] {
        font-size: 16px;
    }

    input[name="forget"] {
        font-size: 12px;
    }

    a.bt_crear, a.bt_forget, a.bt_ingresar, a.bt_crear_result, a.bt_consulta {
        font-size: 16px;
        /*padding: 20px 0;*/
    }

    a.new_lk, a.forget_lk {
        font-size: 14px;
    }

}



@media (max-width: 300px) {



}


@media (max-width: 300px) {

#access_box{
  left: 30%;
}
#logos ul li  img{
  max-width: 60%;
  height: auto;  
}

footer #logos ul li{
	width: auto;
}

}

