/*@import url(css/normalize.css);*/
/*
  It's basically a one row table with one of the
  columns of width 100%. So all the others have 
  the size of its contents.
*/
/** Index.
  @mixin ul-inline
  @mixin menu
    Simple menu.
  @mixin menu-gutter
    Helper for @mixin menu.
      Set gutter.
  @mixin with-icons
    TODO: Description.
*/
/* Make an horizontal list. */
/* Simple vertical menu */
/* Simple menu */

@font-face {
    font-family: "NeutraTextBookItalic";
    src: url('../fonts/NeutraTextBookItalic.eot');
    src: url('../fonts/NeutraTextBookItalic.eot') format('embedded-opentype'),
         url('../fonts/NeutraTextBookItalic.woff2') format('woff2'),
         url('../fonts/NeutraTextBookItalic.woff') format('woff'),
         url('../fonts/NeutraTextBookItalic.ttf') format('truetype'),
         url('../fonts/NeutraTextBookItalic.svg#NeutraTextBookItalic') format('svg');
}


@font-face {
    font-family: 'SignPainterHouseBrush';
    src: url('../fonts/SignPainterHouseBrush.eot');
    src: url('../fonts/SignPainterHouseBrush.eot') format('embedded-opentype'),
         url('../fonts/SignPainterHouseBrush.woff2') format('woff2'),
         url('../fonts/SignPainterHouseBrush.woff') format('woff'),
         url('../fonts/SignPainterHouseBrush.ttf') format('truetype'),
         url('../fonts/SignPainterHouseBrush.svg#SignPainterHouseBrush') format('svg');
}



@font-face {
    font-family: 'NeutraDisplayLight';
    src: url('../fonts/NeutraDisplayLight.eot');
    src: url('../fonts/NeutraDisplayLight.eot') format('embedded-opentype'),
         url('../fonts/NeutraDisplayLight.woff2') format('woff2'),
         url('../fonts/NeutraDisplayLight.woff') format('woff'),
         url('../fonts/NeutraDisplayLight.ttf') format('truetype'),
         url('../fonts/NeutraDisplayLight.svg#NeutraDisplayLight') format('svg');
}

@font-face {
  font-family:"NeutraCond-LightAlt";
  src: url("../fonts/NeutraCond-LightAlt.otf"); }
@font-face {
  font-family:"NeutraCond-Medium";
  src: url("../NeutraCond-Medium.otf"); }
@font-face {
    font-family: 'NeutraTextBold';
    src: url('../fonts/NeutraTextBold.eot');
    src: url('../fonts/NeutraTextBold.eot') format('embedded-opentype'),
         url('../fonts/NeutraTextBold.woff2') format('woff2'),
         url('../fonts/NeutraTextBold.woff') format('woff'),
         url('../fonts/NeutraTextBold.ttf') format('truetype'),
         url('../fonts/NeutraTextBold.svg#NeutraTextBold') format('svg');
}

@font-face {
  font-family: "NeutraTextLight";
  src: url("../fonts/NeutraTextLightSCAlt.otf"); }


@font-face {
    font-family: 'NeutraDisplayTitling';
    src: url('../fonts/NeutraDisplayTitling.eot');
    src: url('../fonts/NeutraDisplayTitling.eot') format('embedded-opentype'),
         url('../fonts/NeutraDisplayTitling.woff2') format('woff2'),
         url('../fonts/NeutraDisplayTitling.woff') format('woff'),
         url('../fonts/NeutraDisplayTitling.ttf') format('truetype'),
         url('../fonts/NeutraDisplayTitling.svg#NeutraDisplayTitling') format('svg');
}

@font-face {
  font-family:neutradisplaybold;src:url(../fonts/neutradisplaybold.eot);src:url(../fonts/neutradisplaybold.eot#iefix)format("embedded-opentype"),url(../fonts/neutradisplaybold.woff)format("woff"),url(../fonts/neutradisplaybold.ttf)format("truetype"),url(../fonts/neutradisplaybold.svg)format("svg");font-weight:400;font-style:normal;
}

@font-face {
  font-family:neutradisplaybold;src:url(../fonts/neutradisplaybold.eot);src:url(../fonts/neutradisplaybold.eot#iefix)format("embedded-opentype"),url(../fonts/neutradisplaybold.woff)format("woff"),url(../fonts/neutradisplaybold.ttf)format("truetype"),url(../fonts/neutradisplaybold.svg)format("svg");font-weight:400;font-style:normal;
}

@font-face {
  font-family:neutratexttfbookalt;src:url(../fonts/neutratexttfbookalt.eot);src:url(../fonts/neutratexttfbookalt.eot#iefix)format("embedded-opentype"),url(../fonts/neutratexttfbookalt.woff)format("woff"),url(../fonts/neutratexttfbookalt.ttf)format("truetype"),url(../fonts/neutratexttfbookalt.svg)format("svg");font-weight:400;font-style:normal;
}

@font-face {
  font-family:neutratexttfboldalt;src:url(../fonts/neutratexttfboldalt.eot);src:url(../fonts/neutratexttfboldalt.eot#iefix)format("embedded-opentype"),url(../fonts/neutratexttfboldalt.woff)format("woff"),url(../fonts/neutratexttfboldalt.ttf)format("truetype"),url(../fonts/neutratexttfboldalt.svg)format("svg");font-weight:400;font-style:normal;
}

@font-face {
  font-family:neutratexttfdemialt;src:url(../fonts/neutratexttfdemialt.eot);src:url(../fonts/neutratexttfdemialt.eot#iefix)format("embedded-opentype"),url(../fonts/neutratexttfdemialt.woff)format("woff"),url(../fonts/neutratexttfdemialt.ttf)format("truetype"),url(../fonts/neutratexttfdemialt.svg)format("svg");font-weight:400;font-style:normal;
}



* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

body {
  margin: 0;
  /*background-color: #DDD;*/
  overflow-x: hidden; }

header {
  
  overflow: hidden;
  border-bottom: 3px solid white;
  color: white;
  font-weight: bold;
  background-color: #00B0F0; }
  header img {
    height: 70px; }
  header .logo {
    float: left;
    width: 300px;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    header .logo img {
      vertical-align: middle; }
  header .menu {
    text-align: right;
    margin-left: 300px; }
    header .menu .menu-item {
      display: inline-block;
      width: 15.666666667%;
      position: relative;
      padding: 1rem;
      text-align: center; }
      header .menu .menu-item .on-hover {
        display: none; }
      header .menu .menu-item .on-hover-content {
        display: inline-block;
        width: 80%;
        margin: 0 auto;
        vertical-align: middle; }
      header .menu .menu-item:hover .on-hover {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #1A7CA0;
        font-family: "NeutraTextBold";
        color: white;
        text-transform: uppercase;
        text-align: center; }
        header .menu .menu-item:hover .on-hover:before {
          display: inline-block;
          height: 100%;
          content: "";
          vertical-align: middle; }
    header .menu:after {
      content: '';
      display: table;
      clear: both; }



header .navbar-toggle {
  color: #FFF;
  font-family: "NeutraDisplayTitling";
  margin-top: 20px;
}

header .navbar-toggle span.icon-bar {
  background-color: #FFF;
  width: 50px;
  height: 10px;
}

header .navbar {
  background-color: #00abeb;
  border-radius: 0;
  font-size: 14px;
  margin: 0;
  border-bottom: 1px solid #FFF;
  height: 127px;
}

header .navbar-brand {
  height: auto;
}

header .navbar-nav {
  text-align: center;
}

header .navbar-nav li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

header .navbar-nav li a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  min-width: auto;
  height: 125px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 40px;
  font-family: "NeutraDisplayTitling";
  color: #FFF;
width: 125px;
  padding-top: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

header .navbar-nav li a span {
  padding-top: 10px;
  display: none;
}

header .navbar-nav li a.active,header .navbar-nav li a:focus,header .navbar-nav li a:hover {
  background-color: #1A7CA0;
}

header .navbar-nav li a.active img,header .navbar-nav li a:focus img,header .navbar-nav li a:hover img {
  display: none;
}

header .navbar-nav li a.active span,header .navbar-nav li a:focus span,header .navbar-nav li a:hover span {
  display: block;
}

header .navbar-nav li:first-child a span {
  padding-top: 0;
}

#main.height-not-needed,
#main#override.height-not-needed {
  min-height: none !important;
  overflow: hidden;
}

#default #main {
  min-height: 570px;
  max-height: auto;
  position: relative;
}

#default #main #myCarousel {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#myCarousel .carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  margin-left: -60px;
}

#myCarousel .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  margin-right: -60px;
}

#default #main #myCarousel .carousel-inner {
  height: 100%;
}

#default #main #myCarousel .item {
  height: 100%;
}

#default #main #myCarousel .item .fill {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

   
#access_box {
  position:absolute;
  top:-200%;
  margin-top:22px;
  left:00%;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  background-color:  rgba(255, 255, 255, .3);
    border: 10px solid rgba(255, 255, 255, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }
.access_box_interior {
    position:relative;
    background-color: #ffffff;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    padding:25px;
    width:282px;
    min-height:330px;
    display:block;
  }
.access_box_interior p {
    line-height:1.5;
    }




div.logo {
    text-align: center;
  /*margin:0 auto 15px auto;*/
    line-height: 45px;
}

.logo a{
    display: inline-block;
  background:url('../img/img_ing_sprite.png') no-repeat;
  background-position:-68px 0px;
  margin:0 auto;
}

.logo a.dattatec {
    width:115px;
    height:42px;
    display: inline-block;
  background-position:-68px 0px;
}

.logo a.donweb {
    width:93px;
    height:51px;
    display: inline-block;
  background-position:-102px -210px;
}


.access_box_interior h2 {
  font-weight:300;
  font-size:18px;
  color:#757584;
  text-align:center;
    margin-bottom:15px;
  }
input[name="email"],
input[data-name="consulta"],
.inputReg,
input[name="email2"],
input[name="password"],
input[name="forget"],
input[data-name="user"],
input[data-name="pass"] {
    background:#f2f2f2 url('../img/img_ing_sprite.png') right no-repeat;
  border:1px solid #ccc;
  height:36px;
  padding-left:10px;
  width:232px;
    font-size:12px;
}

#txtConsultaNro {
    border-radius: 4px 4px 4px 4px;
	background: #f1f1f2 url('../img/fondo_input_1.gif') 97% 50% no-repeat;
}

.inputReg {
    background-image: none;
}

input[name="email"] {
  border-bottom:none;
  }
input[name="forget"] {
  background-position:200px 0px;
  border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  font-size:10px;
}
input[name="forget"] {
  background-position: 200px 0px;
  }
.olvido_elements :-ms-input-placeholder,
.olvido_elements :-webkit-input-placeholder,
.olvido_elements ::-moz-input-placeholder {
    color:#f3c5ba;
}
input[name="email"],
input[data-name="user"],
input[data-name="consulta"] {
  background-position:200px 0px;
  border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
  }
input[name="email2"],
input[name="email"] {
  background-position:200px -165px;
  }
input[name="email2"]:focus,
input[name="email"]:focus {
  background-position:200px -209px;
  }
input[name="forget"]:focus,
input[data-name="user"]:focus {
    background-position: 200px -43px;
}
input[name="password"],
input[data-name="pass"] {
  background-position:200px -83px;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-top:none;
  
	background: #f1f1f2 url('../img/fondo_input_2.gif') 97% 50% no-repeat;
  }
input[name="password"]:focus,
input[data-name="pass"]:focus {
    background-position: 200px -128px;
    }

a.bt_crear,
a.bt_forget,
a.bt_ingresar,
a.bt_crear_result {
  color: white;
  background: #4d8efc;
  border: none;
  background: -moz-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4D8EFB), color-stop(99%, #4079D6));
  background: -webkit-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
  background: -o-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
  background: -ms-linear-gradient(top, #4D8EFB 0%, #4079D6 99%);
  background: linear-gradient(to bottom, #4D8EFB 0%, #4079D6 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D8EFB', endColorstr='#4079D6', GradientType=0 );
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
    width:100%;
  margin-top:10px;
  text-align:center;
  display:block;
  padding:10px 0;
  font-size: 17px;
  font-family: "NeutraDisplayTitling";
  }

a.bt_consulta{
  color: white;
  background: #44CC53;
  border: none;
  background: -moz-linear-gradient(top, #44CC53 0%, #42C54F 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #44CC53), color-stop(99%, #42C54F));
  background: -webkit-linear-gradient(top, #44CC53 0%, #42C54F 99%);
  background: -o-linear-gradient(top, #44CC53 0%, #42C54F 99%);
  background: -ms-linear-gradient(top, #44CC53 0%, #42C54F 99%);
  background: linear-gradient(to bottom, #44CC53 0%, #42C54F 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44CC53', endColorstr='#42C54F', GradientType=0 );
  cursor: pointer;
  font-size: 17px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-family: "NeutraDisplayTitling";
    width:100%;
  margin-top:10px;
  text-align:center;
  text-transform: uppercase;
  display:block;
  padding:10px 0;
}

a.bt_consulta.blue {
  color: white;
  background: #00abeb !important;
  border: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: "NeutraDisplayTitling";
  width:100%;
  margin-top:10px;
  text-align:center;
  text-transform: uppercase;
  display:block;
  font-size: 25px !important;
  font-weight: normal !important;
  font-style: normal !important;
  height: 25% !important;
  padding: 12px 0 !important;
  line-height: 1.2 !important;
}

a.bt_consulta.blue:hover {
  text-decoration: none;
}

p#consultaPesos {
  background: #44CC53;
}

p#consultaPuntos {
  background: #F58735;
}

p#consultaAhorro {
  background: #ED1C24;
}

p#consultaPesos,
p#consultaPuntos,
p#consultaAhorro {
  height: 25%;
  font-family: "NeutraDisplayTitling";
  text-align:center;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  line-height: 1;
  padding: 12px 0;
  margin-bottom: 0;
}
p#consultaPesos span,
p#consultaPuntos span,
p#consultaAhorro span {
  display: block;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  letter-spacing: 2px;
}

a.bt_grey{
  color: #fff;
  background: #989898;
  border: none;
  background: -moz-linear-gradient(top, #989898 0%, #989898 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #989898), color-stop(99%, #989898));
  background: -webkit-linear-gradient(top, #989898 0%, #989898 99%);
  background: -o-linear-gradient(top, #989898 0%, #989898 99%);
  background: -ms-linear-gradient(top, #989898 0%, #989898 99%);
  background: linear-gradient(to bottom, #989898 0%, #989898 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#989898', GradientType=0 );
  cursor: pointer;
  font-size: 14px;

  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
    width:100%;
  margin-top:10px;
  text-align:center;
  display:block;
  padding:10px 0;
}


a.content_volver {
  background:#fff url('../img/img_ing_sprite.png') no-repeat;
  background-position:-30px -128px;
  position:absolute;
  top:-20px;
  right:-20px;
  display:block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 44px;
  height: 44px;
    -moz-box-shadow: -2px 2px 3px #ccc;
    -webkit-box-shadow: -2px 2px 3px #ccc;
    box-shadow: -2px 2px 3px #ccc;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}

  
a.bt_ingresar:hover,
a.bt_forget:hover,
a.bt_crear:hover,
a.bt_crear_result:hover {
  opacity:0.9;
  }
.oAuth_box {
    margin:10px 0 10px 0;
    font-weight:500;
    font-size:12px;
    color:#989898;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    /*height:32px;*/
    display:block;
    
    /*
    padding:0 0 0 20px;
    background:#eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #e1e1e1 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(99%, #e1e1e1));
    background: -webkit-linear-gradient(top, #4eeeeee 0%, #e1e1e1 99%);
    background: -o-linear-gradient(top, #eeeeee 0%, #e1e1e1 99%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #e1e1e1 99%);
    background: linear-gradient(to bottom, #eeeeee 0%, #e1e1e1 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e1e1e1', GradientType=0 );*/
    text-align: center;
    overflow:hidden;
    }
.acceder {
    line-height:32px;
  }
a.redes {
  background:transparent url('../img/img_ing_sprite.png') right no-repeat;
    float:right;
    display: inline-block;
  height:32px;
    width:39px;
    border-left:1px solid #DDDDDD;
    vertical-align: middle;
    text-align: center;
    line-height:32px;
  }
a.redes.log_live {
  background-position:-25px -4px;
  }
a.redes.log_gp {
  background-position:-25px -89px;
  }
a.redes.log_fb {
  background-position:-25px -48px;
  }
a.redes:hover {
  background-color:#f3f3f3;
  }
a.redes span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    }
a.redes img {
    vertical-align: middle;
    }
a.new_lk, a.forget_lk {
  color:#698abc;
    color:#0066CC;
  float:left;
  font-size:11px;
    width: 100%;/*42*/
    line-height: 1.3;
    display:block;
    padding:5px 0 5px 0;
  }
a.new_lk {
  /*padding-left:15px;*/
  text-align:center;
  }

label.NewUser_news {
    font-size: 11px;
    line-height: 1.4;
}

a.forget_lk {
  text-align:center;
  /*padding-right:15px;
  border-right:1px solid #ccc;*/
  }
a.new_lk:hover, a.forget_lk:hover {
    color:#0099FF;
    }
.login_spinner, .olvido_spinner, .new_spinner {
    text-align:center;
    }

.login_spinner img, .olvido_spinner img, .new_spinner img {
    margin-top:60px;
}
.new_result p, .olvido_result p {
    text-align: center;
    }

a.olvido_volver {
    font-size: 13px;
    text-decoration: underline;
}

p.terms {
  text-align:center;
  font-size:11px;
  line-height:1.4em;
    margin:20px 0 0 0;
  }
.flag-error {
    z-index:101;
    position: absolute;
    display: inline-block;
  background:transparent url('../img/arrow_flag_error.png') left center no-repeat;
    padding: 0 0 0 5px;
  }
.flag-error div {
    background-color: #df6245;
    padding:6px 13px;
    color:#ffffff;
    font-size:12px;
    white-space: nowrap;
    line-height:1.5;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    /*
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.5);
    */
}
input.error {
    border-color:#df6245;
    background-color: #fff2f2;
    }
.share-box {
  width:110px;
  position:absolute;
  right:25px;
  top:25px;
  display:block;
  }
.share-box ul {
  display:none;
  top:50px;
  left:13px;
  width:30px;
  position:absolute;
  padding:0;
  }

.linkShare {
  margin-right:10px;
  float:right;
  width:41px;
  height:41px;
  text-indent:-9999px;
  }

.linkShare a {
  background:transparent url('../img/img_ing_sprite.png') right no-repeat;
  width:41px;
  height:41px;
  opacity:1;
  display:block;
  background-position:-87px -47px;
  }

.linkShare a:hover {
  background-position:-129px -94px;
  }

.linkDownload  {
  float:right;
  text-indent:-9999px;
  width:41px;
  height:41px;
  }

.linkDownload a {
  background:transparent url('../img/img_ing_sprite.png') right no-repeat;
  background-position:-129px -47px;
  display:block;
  width:41px;
  height:41px;
  float:right;
  }

.linkDownload a:hover {
  background-position:-129px -135px;
  }

.share-box ul li {
  float:right;
  }
.share-box ul li a {
  margin-bottom:9px;
  width:28px;
  height:28px;
  background:transparent url('../img/img_ing_sprite.png') right no-repeat;
  opacity:1;
  }

.share-box ul li a:hover {
  opacity:0.8;
  }

.share-box ul li a.shaFace {
  background-position:-100px -88px;
  }
.share-box ul li a.shaGoo {
  background-position:-100px -117px;
  }
.share-box ul li a.shaTwi {
  background-position:-100px -147px;
  }
.share-box ul li a.shaPint {
  background-position:-100px -176px;
  }



@media screen and (max-width:800px){
    div.text_img_container {
        display: none;
    }

    div.wrap {
        background: transparent;
        background-image: none!important;
    }

    div.share-box {
        display: none;
    }

    #access_box {
        left: 50%;
        margin-left: -152px;
        margin-top:-232px;
        top: 0;
        margin-top: 0;
    }
}

@media screen and (max-width:400px){

    /*body{
        background: #ffffff;
    }*/

    #access_box {
        /*border: none;*/
        left: 50%;
        margin-top:-212px;
        top: 0;
        margin-top: 0;
    }

    a.content_volver {
        top: 20px;
        right: 10px;
    }

    input[name="email"], input[name="email2"], input[name="password"], input[data-name="user"], input[data-name="pass"], input[data-name="txtConsultaNro"] {
        font-size: 16px;
    }

    input[name="forget"] {
        font-size: 12px;
    }

    a.bt_crear, a.bt_forget, a.bt_ingresar, a.bt_crear_result, a.bt_consulta {
        font-size: 16px;
        /*padding: 20px 0;*/
    }

    a.new_lk, a.forget_lk {
        font-size: 14px;
    }

}

@media (max-width: 300px) {


}


@media (max-width: 300px) {

#access_box{
  left: 30%;
}
#logos ul li  img{
  height: 50px;  
}


footer #logos ul li{
  width: auto;
}

}


footer {
  background-color: #FFF;
  padding: 28px 0 0;
  height: 100px;
}

footer #logos ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

footer #logos ul li {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin: 0 15px;
  width: 10.1%;
  margin: 0 1%;
}

footer #logos div {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}

footer #logos div div {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  margin: 0 15px;
  width: 10.1%;

}

#faq {
  position: relative;
  background-color: #62A9E0; 
  padding-top: 20px;
}

#faq .notebook img {
  text-align: center;
  max-width: 90%;
}

#faq .notebook {
  float: left;
}

#faq .faq {
  float: right;
}

#faq .notebook,
#faq .faq {
  height: 500px;
}

#faq .faq {
  position: relative;
  left: -15px;
}

#faq .scroll {
  background: white;
}

#faq .scroll h4 {
  font-size: 22px;
  font-weight: 600;
}

#faq .notebook {
  background: transparent url(../img/notebook.png) no-repeat center bottom;
  background-size: auto 100%;
}

  #faq .col.faq {
    padding-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 420px;
    width: 100%; }

    @media screen and (min-width: 800px) {
      #faq .col.faq {
        margin-bottom: 0;
        width: 50%; } }

    @media screen and (min-width: 1070px) {
      #faq .col.faq {
        padding-left: 5rem;
        padding-right: 5rem; } }
  
  #faq .col .content {
    overflow: hidden;
    height: 500px;
    background-color: white;
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-height: 35.5625rem;
    overflow: auto;
    font-family: "Lato";
    font-weight: 300;
    font-size: 20px; }

  #faq h1 {
    color: white;
    font-family: "NeutraTextBold";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  #faq:after {
    content: '';
    display: table;
    clear: both; }

.faqfont{
  font-family:"NeutraDisplayLight";
    font-size: 12px; }
    @media screen and (min-width: 930px) {
      .faqfont p {
          font-family:"NeutraDisplayLight";
        font-weight: bold;
        font-size: 18px; } }
}

.faqfont .jspContainer .jspPane p {
  font-size: 18px !important;
  font-family:"NeutraDisplayLight" !important;
  font-weight: bold !important;
}

.faqfont h4{
  font-family:"NeutraDisplayBold";
    font-size: 20px;

}

#client .telemarketer {
  float: left;
}

#client .telemarketer > img {
  max-width: 515px;
  margin: 0 auto;
}

#client .client {
  padding-left: 30px;
  float: right;
}

#client {
  color: white;
  position: relative;
  background-color: #62A9E0;
  padding-bottom: 400px; }
  @media screen and (min-width: 650px) {
    #client {
      padding-bottom: 0; } }


  #client .col {
    float: left;
    width: 100%; }

  @media screen and (max-width: 950px) {
      .col {
        width: 100% !important; } }
		
		
  @media screen and (min-width: 951px) {
      #client .col {
        width: 50%; } }

  @media screen and (min-width: 950px) {
    #client .col.telemarketer {
      min-height: 400px; } }


  @media screen and (min-width: 950px) {
    #client .col.telemarketer {
      min-height: 520px; } }

  #client .col.text {
    padding-left: 10rem; }

  #client:after, #client:before {
    content: '';
    display: table;
    clear: both; }


  #client h1 {
    font-family: "NeutraTextBold";
    text-transform: uppercase;
    font-size: 30px; }


    @media screen and (min-width: 930px) {
      #client h1 {
        font-size: 42px; } }

 #client h1 span{
    font-family: "SignPainterHouseBrush";
  }

.negrita{
    font-family: "NeutraTextBold";
    font-weight: bold;
  }

  #client p {

  font-family:"NeutraDisplayLight";
    font-size: 20px; }
    @media screen and (min-width: 930px) {
      #client p {
        font-weight: bold;
        font-size: 35px; } }


.faqfont{
  font-family:"NeutraDisplayLight";
    font-size: 12px; }
    @media screen and (min-width: 930px) {
      .faqfont p {
          font-family:"NeutraDisplayLight";
        font-weight: bold;
        font-size: 18px; } }
}

.faqfont h4{
  font-family:"NeutraDisplayBold";
    font-size: 20px;

}



#terminos {
  background-color: #62A9E0;
 
  position: relative;
  height: 100%;
}

#terminos .suggestion {
  background: transparent url(../img/background-page/sugerencias.png) no-repeat right bottom;
  background-size: auto 90%;
  height: 500px;
  position: relative;
  top: 53px;
}

#terminos .terminos {
  margin-bottom: 50px;
}

#terminos .terminos .scroll {
  margin-left: -5px !important;
  width: 100% !important;
}

  #terminos img {
    max-width: 100%; }

  #terminos .ground {
    position: relative;
    top: 89%;
    height: 100px;
    background-color: #573318; 
  }
  #terminos .content {
    width: 95%;
	margin: 0 auto -2em auto;
    z-index: 1; }
  #terminos .col {
    display: inline-block;
    vertical-align: top;
    width: 49.8%; 
	}
  #terminos .col.image {
    text-align: right;
    margin-bottom: 1.9rem; }
    #terminos .col.image img {
      vertical-align: bottom; }
    @media screen and (max-width: 1110px) {
      #terminos .col.image {
        width: 40%;
        display: none; } }

  #terminos .background {
    position: absolute;
    left: 0;
    bottom: 1.9rem;
    width: 530px; }
    @media screen and (min-width: 1110px) {
      #terminos .background {
        display: none; } }
  @media screen and (max-width: 1110px) {
    #terminos .col.terminos {
      width: 500px;
      position: relative;
      margin-left: auto;
      display: block; } }
  @media screen and (max-width: 543px) {
    #terminos .col.terminos {
      width: 100%;
      left: 10px;
      } }
  #terminos .col.terminos h1 {
    text-align: center;
    font-family: "NeutraTextBold";
    color: white;
    text-transform: uppercase; }
  .text {
    overflow: hidden;
    height: 37rem;

    background-color: white;
    color: black;
    max-height: 500px;
    padding: 2rem;
	margin: 0 3.3rem;
    font-family: "Lato";
    overflow: auto; }

.scroll {
  max-height: 405px;
}

.scroll::-webkit-scrollbar {
    width: 0.7em;
}
 
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 .scroll::-webkit-scrollbar-track-piece 
 {
    background-color: #B7C8C4;
 }

.scroll::-webkit-scrollbar-thumb {
  background-color: #2C89A0;
  
}



#sugerencias {
  padding: 5%;
  background-color: white;
  width: 90%;
  border-style: solid;
  border-color: #ecf0f1;
}

.title-white {
  text-align: center;
  color: white;
}

.form_head {
  margin: 0%;
    /*margin: 0px 0px 20px 0px;*/;
}

.form_head button {
    display: inline; 
  width: 140px;
  height: 35px;
  padding: -5px;
  margin: 0px;
  cursor: pointer;
  color: #003380;
}

.form_head ul li {
  display: inline; 
}
li label{
	font-weight: 100;
	font-size: 12px;
}

#form_contenedor {
  /*background-color: #eee;*/
font-family: "Lato", Sans-serif;
margin: 1em 0 0 0;
border: 2px solid  #dbdbd3;

background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 25%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(25%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 25%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 25%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 25%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 25%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}

.form_radio li label {
  color: #003380;
}

.form_radio {
  margin: 2%;
  padding-top: 0;
}

.form_radio li {
  padding-bottom: 0;
  color: #003380;
};

.form_datos {
  margin: 2%;
  }

.form_datos ul {
  width: 500px;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: Arial;
}
.sugerencias li {
list-style-type: none;
}

.form_datos li {
  padding: 9px;
  position: relative;
  font-family: Verdana, Geneva, sans-serif;
}

.form_datos label {
  font-family: Arial, "Verdana";
  width: 150px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px;
  color: #003380;
}

.form_datos input {
  width: 200px;
  height: 25px;
  font-size: 11px;
  padding: 4px 0px;
}

.submit {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.submit {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.button-success {
  background: rgb(28, 184, 65);
 /* this is a green */;
}

.button-error {
  background: rgb(202, 60, 60);
 /* this is a maroon */;
}

.button-warning {
  background: rgb(223, 117, 20);
 /* this is an orange */;
}

.button-secondary {
  background: rgb(66, 184, 221);
 /* this is a light blue */;
}

.nav-title
{
  float: right;
  padding-top: 15%;
  font-size: 1.8em;
  font-family: "NeutraTextBookItalic";
}


.terminos {
  background: transparent url(../img/terminos.png) no-repeat right bottom;
  background-size: 100% auto;
  height: 500px;
  position: relative;
  top: 23px;
}

.terminos-text {
  padding-left: 0;
  position: relative;
  top: 45px;
}

.terminos-text .scroll {
  margin-left: 0;
}

.table-like {
  background-color: #573318;
  height: 150px;
  float: none;
  clear: both;
}


@media (max-width: 400px) {
  #faq .col.notebook img{
  top: 75%;
  left: 15rem
}


.form_datos input {
  width: 100%;
  height: 40px;
  padding: 4px 0px;
}

.form_head button {
  width: 200px;
  height: 40px;
  
  cursor: pointer;
  color: #003380;
}

.sugerencias  li{
  list-style-type: none;
}
.form_head ul li {
  display: list-item;
}
#client{
  padding-bottom: 200px;
  left: 0px;
}
#client .col.text{
  padding-left: 5rem;
}
#client img{
  bottom: 0%;
  left: 25%;
}

#faq .col.notebook img{
  left: 5rem;
}
#faq .col.notebook img{
  bottom: 20rem;
}
#faq{
  max-height: 1000px;
}

footer #logos div div {

  left :30px;
}

}


.bx-controls {
	display: none !important;
}

#wrapper {
	background: #62A9E0;
}

@media screen and (min-width: 1600px) {
  #default #main {
    min-height: 768px;
  }
}

@media screen and (min-width:1366px) {
  #wrapper {
    padding-bottom: 100px;
  }

  footer {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 1280px) {
  header .navbar-nav li a {
    margin-left: 0;
  }
}

@media screen and (min-width: 1170px) {
  .col-md-6.terminos {
    background-size: auto 100%;
  }
}

@media screen and (max-width: 1110px) {
  #terminos .suggestion,
  #terminos .terminos {
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 1075px) {
  header .navbar-nav {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }

  header .navbar-nav li {
    display: inline-block;
    float: none;
  }

  .navbar-header {
    position: relative;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
            transform: translate3d(-50%,0,0);
  }

  #default #main #myCarousel .item .fill {
    background-size: auto 100%;
    background-position: right top;
  }

  #client .telemarketer {
    width: 100%;
    text-align: center;
    min-height: none !important;
  }

  #client .telemarketer img {
    width: 50%;
    display: inline-block;
  }

  #client .client {
    width: 100%;
    text-align: center;
  }

  #faq .faq .scroll {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    left: 15px;
  }

  #faq .faq .scroll {
    font-size: 20px;
  }

  #terminos .content {
    width: 100%;
  }

  #terminos .col.terminos {
    width: 100%;
  }

  #terminos .col.terminos .scroll {
    max-width: 90%;
    margin: 0 auto 25px auto !important;
  }

  #terminos .suggestion,
  #terminos .terminos {
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 991px) {
  .terminos {
    display: none;
  }

  .terminos.hide {
    display: block !important;
    width: 100%;
    max-width: 768px;
    float: right;
    top: 2px;
  }

  .terminos-text {
    top: 0;
  }

  .terminos-text .scroll {
    margin-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  #access_box {
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
    margin-top: 25px
  }

  .tip-yellowsimple + div {
    display: none;
  }

  #default #main.needed-height {
    min-height: 1140px;
  }

  #default #main #myCarousel {
    height: 50%;
  }
}

@media screen and (max-width: 768px) {
  .nav-title {
    float: left;
    padding-top: 45px;
  }
}

@media screen and (max-width: 580px) {
  .terminos-text .scroll {
    width: 100% !important;
    margin-left: 15px;
  }

  #faq .notebook {
    margin-top: 45px;
    background-size: auto 100%;
  }

  #terminos .suggestion {
    height: 320px;
  }

  .terminos.hide {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  #terminos .col.terminos .scroll {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto 50px auto;
    position: relative;
    left: -10px;
  }
  #faq .notebook {
    background-size: 90% auto;
    height: 400px;
  }

  #terminos .suggestion {
    display: none;
  }

  #terminos .suggestion.hide {
    display: block !important;
    top: 2px;

  }

  .nav-title {
    display: none;
  }

  #access_box {
    -webkit-transform: translate3d(0,55%,0);
            transform: translate3d(0,55%,0);
  }

  .tip-yellowsimple + div {
    display: none;
  }

  #default #main.needed-height {
    min-height: 900px;
  }

  #default #main #myCarousel {
    height: 35%;
  }

  #client {
    padding-bottom: 0;
  }


}

@media screen and (max-width: 360px) {
  .terminos.hide {
    height: 270px;
  }
  .terminos-text .scroll {
    max-width: 343px;
  }
}

@media screen and (max-width: 320px) {
  #faq .notebook {
    height: 320px;
  }

  #terminos .suggestion {
    height: 280px;
  }
}