﻿
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Acceso</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <style>
        .row_padding {
            padding: 5px;
        }

        .input_id {
            width: 50px;
            color: black;
        }
    </style>
    <script type="text/javascript">
        var TOKEN;
        //var BASE_URL = "https://rest.gruporesto.com";
        var BASE_URL = "http://localhost:1471";

        function loginUsr(user, pass) {
            var loginData = {
                grant_type: "client_credentials",
                client_id: user,
                client_secret: pass
            };

            $.ajax({
                type: 'POST',
                url: BASE_URL + '/token',
                data: loginData
            }).done(function (data) {
                TOKEN = data.access_token;
                $("#txtToken").html("TOKEN: " + TOKEN);
            }).fail(showError);
        }

        function get(url, div) {
            if (!TOKEN) {
                $("#txtToken").html('Logueate Primero!!!');
                return false;
            }

            $.ajax({
                url: BASE_URL + url,
                type: "GET",
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'Bearer ' + TOKEN); },
                success: function (data) {
                    $("#" + div).html("RESULTADOS <br />" + JSON.stringify(data, null, 4));
                },
                error: function (data) {
                    $("#" + div).html("ERROR <br />" + JSON.stringify(data, null, 4));
                }
            });
            return false;
        }


        function showError(req, s, t) {
            $("#txtToken").html('Request Status: ' + req.status + ' Status Text: ' + req.statusText + ' ' + req.responseText);
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <br />
        <div class="row row_padding">
            <div id="divLoginForm" class="col-md-4">
                <form id="frmLogin" class="form">
                    <input type="email" class="form-control required" id="txtUsuario" runat="server" value="no-responder@entryfee.com.ar" placeholder="e-mail" maxlength="128" />
                    <input class="form-control required" id="txtPwd" runat="server" value="2E2A5F38-25EB-43A5-974D-451DC822C246" placeholder="app key" style="margin-top: 10px" maxlength="50" />

                    <br />
                    <a class="btn btn-success btn-block" style="color: #fff;" onclick="loginUsr($('#txtUsuario').val(), $('#txtPwd').val());">Ingresar</a>
                </form>
            </div>
            <div class="col-md-8">
                <code id="txtToken"></code>
            </div>
        </div>
        <div class="row row_padding">
            <h3>Common</h3>
            <div class="col-md-8">
                <a class="btn btn-success btn-block" style="color: #fff;" onclick="get('ValuesEx/GetByRubro', 'common');">/api/common/getDestinos</a>
            <br />
            </div>
                
             </div>            
            <div class="col-md-8">

                <code id="common"></code>
            </div>
        </div>

    </div>
</body>
</html>
