﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="TarjetasAnulacion.aspx.cs" Inherits="common_TarjetasAnulacion" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
    <nav>
        <div id="jCrumbs" class="breadCrumb module">
            <ul>
                <li><a href="<%= ResolveUrl("~/Default.aspx") %>"><i class="glyphicon glyphicon-home"></i></a></li>
<%--                <li><a href="#">Gestión</a></li>
                <li><a href="<%= ResolveUrl("~/modulos/gestion/tarjetas.aspx") %>">Tarjetas</a></li>--%>
                <li><a href="#">Tarjetas</a></li>
                <li>Anular/Sustituir Tarjetas</li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <h3 class="heading">Anular/Sustituir Tarjetas</h3>
            <div class="alert alert-danger alert-dismissable" id="divError" style="display: none"></div>
            <div class="alert alert-success alert-dismissable" id="divOK" style="display: none">Los datos se han actualizado correctamente.</div>

            <form runat="server" id="formSusTarjeta" class="form-horizontal" role="form">
                  <asp:HiddenField runat="server" ID="hdnIDMarca" Value="0" />
                <div class="form-group">
                    <label for="rdbAnulacion" class="col-lg-2 control-label">Tipo</label>
                    <div class="col-lg-10">
                        <label class="radio-inline">
                            <asp:RadioButton runat="server" ID="rdbAnulacion" GroupName="grpTipo" Checked="true" Text="Anulación" Width="80px" />
                        </label>
                        <label class="radio-inline">
                            <asp:RadioButton runat="server" ID="rdbSustitucion" GroupName="grpTipo" Checked="false" Text="Sustitución" Width="80px" />
                        </label>
                        <label class="radio-inline">
                            <asp:RadioButton runat="server" ID="rdbDesvinculacion" GroupName="grpTipo" Checked="false" Text="Desvinculación" Width="80px" />
                        </label>
                    </div>
                </div>
                <div>
                    <div class="form-group"> 
                        
                        <label  class="col-lg-2 control-label"><span class="f_req">*</span> Buscar por</label>
                        <div class="col-lg-3">
                            <select id="ddlTrBuscarSocio" runat="server" class="form-control required">
                                <option value="Tarjeta">Nro Tarjeta</option>
                                <option value="Nombre">Nombre y apellido</option>
                                <option value="DNI">DNI</option>
                            </select>                                         
                        </div>
                    </div>

                    <div class="form-group">                        
                        <label  class="col-lg-2 control-label"><span class="f_req">*</span> Valor a buscar</label>
                        <div class="col-lg-4">
                            <input runat="server" type="text" id="txtValorSocio" class="form-control required" MaxLength="20"/>
                        </div>
                     </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button runat="server" id="btnBuscarSocio" class="btn" type="button" onclick="buscarSocios();">Buscar</button>
                                <img alt="" src="../../img/ajax_loader.gif" id="imgLoading" style="display:none" />  

                        </div>
                    </div>

                    <div class="form-group datos2" style="display:none">                                 
                        <label class="col-lg-2 control-label"><span class="f_req">*</span> Socio</label>
                        <div class="col-lg-4">
                            <select runat="server" id="ddlTrSocio" class="form-control required" onchange="buscarTarjetas();">
                            </select>                                         
                        </div>
                    </div>

                    <div class="form-group datos2" style="display:none">                            
                        <label class="col-lg-2 control-label"><span class="f_req">*</span> Tarjeta</label>.
                        <div class="col-lg-4">
                            <select runat="server" id="ddlTrTarjeta" class="form-control required" >                                            
                            </select>                                         
                        </div>
                    </div>                                                               
                </div>

                <div class="form-group datos2" style="display:none">
                    <label for="ddlMotivo" class="col-lg-2 control-label"><span class="f_req">*</span> Motivo</label>
                    <div class="col-lg-4">
                        <asp:DropDownList runat="server" ID="ddlMotivo" CssClass="form-control required">
                            <asp:ListItem Value="" Text="" />
                            <asp:ListItem Value="1" Text="Robo" />
                            <asp:ListItem Value="2" Text="Extravio" />
                            <asp:ListItem Value="3" Text="Anulacion" />
                            <asp:ListItem Value="5" Text="Error interno" />
                            <asp:ListItem Value="6" Text="Carga Fraudulenta" />
                            <asp:ListItem Value="7" Text="Faltante de stock" />
                            <asp:ListItem Value="8" Text="Error de solicitud" />
                            <asp:ListItem Value="9" Text="Cancela el cliente" />
                            <asp:ListItem Value="4" Text="Otro" />
                        </asp:DropDownList>
                    </div>
                </div>
                <div id="divSustitucion" style="display: none;">

                    <div class="form-group">
                        <label for="txtNumeroNuevo" class="col-lg-2 control-label"><span class="f_req">*</span> Nuevo Número</label>
                        <div class="col-lg-4">
                            <asp:TextBox runat="server" ID="txtNumeroNuevo" CssClass="form-control required number" MaxLength="20"></asp:TextBox>
                        </div>
                    </div>
                </div>


                <div class="form-group datos2" style="display:none">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button runat="server" id="btnGrabar" class="btn btn-success" type="button" onclick="grabar();">Grabar</button>
                        <a class="btn btn-link" onclick="volver2();" href="#">Cancelar</a>   
                    </div>
                </div>

                <asp:HiddenField runat="server" ID="hfIDSocio" />
                <asp:HiddenField runat="server" ID="hfIDTarjeta" />
            </form>
        </div>
    </div>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="FooterContent" runat="Server">
    <script type="text/javascript" src="<%= ResolveUrl("~/js/views/common/tarjetasAnulacion.js?v=" + ConfigurationManager.AppSettings["App.Version"]) %>"></script>
    <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.numeric.js?v=" + ConfigurationManager.AppSettings["App.Version"]) %>"></script>
</asp:Content>