﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageMarcas.master" AutoEventWireup="true" CodeFile="testing.aspx.cs" Inherits="common_testing" %>

<asp:Content runat="server" ContentPlaceHolderID="HeadContent">

</asp:Content>

