﻿@model ACHE.Pagos.Models.FacturaViewModel

<div class="row">
    <br />
    <div class="col-sm-2 col-md-2">
        <img src="~/img/redinlogo.jpg" alt="RedIN" style="max-height: 100px;" />
    </div>
    <br />
    @if (Model.Numero != null)
    {
        <div class="col-sm-8 col-md-8">
            <h1 class="invoice_heading">Factura n°: @Model.Numero</h1>
        </div>
    }
</div>
<br />
@if (Model.Numero != null)
{
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <strong>Comercio: @Model.Comercio</strong><br>
            <strong>Total a pagar: $@Model.Importe.ToString("N2")</strong><br>
        </div>
    </div>
}
<br />

<div class="row">
    <div class="col-sm-12 col-md-12">
        @if (Model.factDet != null && Model.factDet.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        @*<th>ID</th>*@
                        <th>Concepto</th>
                        <th style="text-align: center">Cantidad</th>
                        <th style="text-align: center">IVA</th>
                        <th style="text-align: right">Precio Unitario</th>
                        <th style="text-align: right" class="invoice_tar">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.factDet)
                    {
                        <tr>
                            @*<td>@item.IDFacturaDetalle</td>*@
                            <td>@item.Concepto</td>
                            <td style="text-align: center">@item.Cantidad</td>
                            <td style="text-align: center">@item.Iva%</td>
                            <td style="text-align: right">$@item.PrecioUnitario</td>
                            <td style="text-align: right" class="invoice_tar">$@item.SubTotal</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="3">&nbsp;</td>
                        <td style="background-color: #ccc; font-weight: bold; text-align: right">Total a pagar:</td>
                        <td style="background-color: #ccc; font-weight: bold; text-align: right">$@Model.Importe.ToString("N2")</td>
                    </tr>
                </tbody>
            </table>
            <br />

            if (!Model.Pagada)
            {
                <div class="row">
                    <div class="col-sm-12 col-md-12 text-right">
                        <a class='lightblue-L-Sq-ArAll' id='lnkComprar' href='@Model.RutaMercadoPago' name='MP-Checkout' mp-mode='modal' onreturn='pagoCompleto'>PAGAR</a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!-- Pega este código antes de cerrar la etiqueta </body> -->
<script type="text/javascript">
    (function () { function $MPC_load() { window.$MPC_loaded !== true && (function () { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js"; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); window.$MPC_loaded = true; })(); } window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null; })();
</script>

<script type="text/javascript">
    function pagoCompleto(json) {
        if (json.collection_status == 'approved') {
            window.location.href = '/pagos/Home/PagoFin/1';
        } else if (json.collection_status == 'pending') {
            window.location.href = '/pagos/Home/PagoFin/2';
        } else if (json.collection_status == 'in_process') {
            window.location.href = '/pagos/Home/PagoFin/3';
        } else if (json.collection_status == 'rejected') {
            window.location.href = '/pagos/Home/PagoFin/4';
        } else if (json.collection_status == null) {
            window.location.href = '/pagos/Home/PagoFin/5';
        }
    }
</script>
