﻿@model ACHE.Pagos.Models.FacturaViewModel

<div class="row">
    <br/>
     <div class="col-sm-2 col-md-2">
         <img src="~/img/redinlogo.jpg" alt="RedIN" style="max-height: 100px;" />
    </div>
    <br />
    @if (Model.Estado != null ){
        <div class="col-sm-8 col-md-8">
		    <h1 class="invoice_heading">El pago se encuentra @Model.Estado</h1>
	    </div>
      }
</div>
