﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="logos.ascx.cs" Inherits="controls_logos" %>

<footer>
    <div id="logos">
        <div id="Div1"class="slider1">
        <div class="slide"><img src="/img/logos-footer/1/footer1.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/1/footer2.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/1/footer3.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/1/footer4.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/1/footer5.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/1/footer6.png" class="img-responsive" /></div>
        
        
        <%--<div class="slide"><img src="/img/logos-footer/footer1.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/footer2.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/footer3.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/footer4.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/footer5.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/footer6.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/footer7.png" class="img-responsive" /></div>
        <div class="slide"><img src="/img/logos-footer/footer8.png" class="img-responsive" /></div>--%>
        </div>
    </div>
</footer>