﻿.full_width .container {
    background-color: cornflowerblue;   
}

.navbar .nav > li > a, .navbar .nav > li > a:focus {
    color: #fff;
}

.navbar .nav > li > a:hover{
    color: #000;
}

.navbar .brand {
    color: #fff;
}
.sidebar-nav {
    background: #000;
}
    .sidebar-nav li a {
        color: #999999;
    }

#sidebar-wrapper{
    background: #000;
}